@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap');


.square{
    height:200px;
    width: 200px;
    border-radius:20%;
    background-color:rgb(248, 248, 248);
    margin:5px;
    font-size:20px;
    font-family:'Poppins','sans-serif';
    color:#f15a25;
    position: relative;
    top:50px;
    left: 40px;
    
    
    
}

body{
    overflow-x:hidden;
}

.square1{
    height:200px;
    width: 200px;
    border-radius:20%;
    background:linear-gradient(rgb(243, 114, 8), red);
    margin:5px;
    position: relative;
    top:50px;
    left:40px;
    
    
    
}
.square1:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.1);
    
}
.square:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.1);
    background-color:rgb(184, 175, 175);
   
    
}
.square2{
    position: relative;
    top:10rem;
    left:5rem;
    height:200px;
    width: 200px;
    border-radius:20%;
    background-color:rgb(31, 31, 122);
    margin:5px;
}
.square2:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.1);
    
    
}
.square3{
    position: relative;
    top:10rem;
    left:5rem;
    height:200px;
    width: 200px;
    border-radius:20%;
    background: linear-gradient(rgb(243, 114, 8), red);
    margin:5px;
}
.square3:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.1);
    
    
}


.abouthead{
    font-size:100px;
    font-weight:700;
    background: linear-gradient(rgb(243, 114, 8), red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding:-60px !important;
    margin: -60px !important;
} 
.abouthead1{
    font-size:100px;
    font-weight:700;
    color: rgb(55, 55, 255);
    padding: -60px !important;
    margin:-60px !important;
}
.belowaboutimg{
    position:relative;
    top:12rem;
}
#midlinit{
    /* position: relative;
    left:1rem;
    top: 2rem;
    font-family:'Oxygen', sans-serif;;
    color:white;
    font-size:85px; */
    margin: 0px;
    padding: 0px;
    width:150px;
    position: relative;
    top:2rem;
    left:1.5rem;

}
#midlinit1{
    margin: 0px;
    padding: 0px;
    width:150px;
    position: relative;
    top:2rem;
    left:1rem;

}
.square_text{
    position: relative;
    top: 70px;
    left:28px;
    font-weight:600;
}
.square_text1{
    position: relative;
    top: 80px;
    left:28px;
    font-weight:600;
}
.square_text2{
    position: relative;
    top: 80px;
    left:38px;
    font-weight:600;
}
.aboutnew{
    width: 100%;
    background-size:cover;
}
.centered{
    position:relative;
    top: 6rem;
    left:7rem;
    color:white;

}
#main{
    font-size:60px;
    font-family:'Poppins','sans-serif';
    font-weight:700;
    
}
#sub{
    font-size:30px;
    font-family:'Poppins','sans-serif';
    font-weight:100;
}
#navbar{
    background-color:#f15a25;
    font-family:'Poppins';
    
}
.navbar-expand-lg .navbar-nav>li>a{
    color: white;
}
.map_text{
    position:relative;
    top:20px;
    font-family:'Poppins','sans-serif';
}
#aboutus1{
  background:url('../images/linit2.jfif');
  height:550px;
  background-repeat:no-repeat;
  width:100%;
  background-size: cover;
  background-attachment: fixed;
}
#about2{
    background:white;
    height:550px;
    background-repeat:no-repeat;
    width:100%;
    background-size: cover;
    background-attachment: fixed;
    color: black;
}
.about2paragrah{
    position:relative;
    top:7rem;
    font-family:'Poppins','sans-serif';
}
#about3{
    height:650px;
}
#aboutus{
    height:750px;;
}
.carouseltext{
    
}




